@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  min-height: 100vh;
  display: flex;
  font-family: "Poppins";
  /* font-family: "Open Sans"; */
  color: rgb(255, 255, 255);
  background: url("./assets/bg.avif");
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 0px;
}

::webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

::webkit-scrollbar-thumb:hover {
  background: #555;
}
